$text-primary: blue;
$text-secondary: red;
$rounded-sm: 5px;
$p-sm: 0.5rem 1rem;
$border-secondary: 1px solid $text-secondary;
$border-primary: 1px solid $text-primary;

$arrow-down: arrow-down;
$drop: drop;
$ellipse: ellipse;
$find: find;
